body {
  background: #f5f7f8;
}

.container {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 0;
}

.logo {
  width: 80px;
  height: 80px;
}

.icon {
  float: left;
  margin-right: 0.75em;
}

.loader.is-loading {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  margin: 2em auto;
}

.card-header-title {
  margin-top: 0.95rem;
}

.button.is-primary {
  background: #3498db;
}

.button.is-primary:hover {
  background-color: #2980b9;
}

.button.is-primary:active {
  background-color: #2470a2;
}
